* {
  font-family: "Jost";
}
.container {
  display: grid;
}

.timer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45vh 12vh;
}

.minutes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/3;
}

.minutes {
  grid-column: 1/4;
  font-size: 70px;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-row: 1;
}

.updown {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.buttons {
  grid-column: 2/3;
  grid-row-start: 2;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}

#start,
#pause,
#reset {
  height: 40px;
  font-size: 18px;
  border-radius: 16px;
  background-color: white;
  box-shadow: none;
  border: 0.5px tomato solid;
  color: tomato;
  width: 75%;
  justify-self: center;
  display: grid;
  align-content: center;
  box-shadow: 0.5px 0 0.5px 0.5px #888;
}

#start:hover,
#pause:hover,
#reset:hover {
  background-color: tomato;
  color: white;
}

.infobar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 35%;
  background-color: tomato;
  box-shadow: 2px 0 2px 0.5px #888;
}

.title {
  font-size: 48px;
  padding: 10px;
}

.more-text {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.more-text:hover {
  color: black;
}

.pomodoro-about {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.pomodoro-about-show {
  max-height: 800px;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
